body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*marker*/
.marker {
  transform: translate(-50%, -100%);
}

.popup {
  max-width: 300px;
  transform: translate(-50%, -100%);
}

/*this needs fixing*/
.mapboxgl-popup {
  transform: translate(-46%, 23%) translate(1034.54px, 399.638px);
}
