body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
/*this needs fixing*/
.popup {
  font-size: 2rem !important;
  transform: scale(2);
  max-width: 500px;
}
/*marker*/
.marker {
  transform: translate(-50%, -100%);
}
